// 레이아웃
.layout-template {
  .ant-layout-header,
  .ant-layout-footer {
    height: 60px;
  }

  .ant-layout-header {
    * {
      color: #fff;
    }

    a {
      display: inline-block;
      margin-right: 15px;
      font-size: 34px;
    }

    span {
      font-size: 14px;
    }
  }

  .ant-layout-footer {
    text-align: center;
  }

  .ant-layout-content {
    padding: 60px;
    min-height: calc(100vh - 120px);
  }

  .container {
    background: #fff;
  }

  .ant-layout-has-sider {
    .ant-layout-content {
      margin: 0 auto;
    }
  }
}

/********* 페이지별 *********/

// 로그인
#login {
  form {
    margin: 0 auto;
    max-width: 400px;
  }

  .login-form-button {
    width: 100%;
  }
}

// 가입
#join {
  form {
    margin: 0 auto;
    max-width: 500px;
  }
}

// 검색
#search {
  #search-input-wrap {
    margin-bottom: 30px;
  }

  #search-result-wrap {
    padding: 20px 0;
    min-height: 300px;
  }
}
